html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Courier";
  color: rgb(255, 255, 255);
  /* font-size: 5pt;
  line-height: 4pt; */
}

canvas {
  display: block;
}

h1, h3{
  padding-left: 2%;
}

.col-md-2{
  padding: 30px;
}

#videoOut {
  margin: 10px;
  padding: 10px;
  background-color: #000;
  font-family: "Courier";
  color: rgb(255, 255, 255);
  font-size: 5pt;
  line-height: 4pt;
  display: flex;
  justify-content: center;
}
